//Colors
$black:#000000;
$white:#ffffff;
$red:#f81e28;
$gray:#eaeaea;
$pgray:#a8a5a5;


//font - zize
$BigFont:40px;
$FontMedium:20px;

//Font-awesome

body{
    background: $gray;
    font-family: 'Open Sans';
    margin: 0;
}

main{
  margin: 20px;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

header{
    display: flex;   
}
div.logo{
     float: left; 
}
img.imglogo{
    margin-left: 39px;
}

nav{
    float:right;
    margin:0 auto;
    
}


nav {   
    overflow: hidden;  
 
  
}

ul {
    padding-bottom: 10px; 
    list-style-type: none;
    text-align: justify;
}

li {
    float: left;
    padding: 5px;    
}

ul.navi li a {
    display: block;
    color: $black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.navi li a.first{
    color:$red;
}

.searchicon {
        float: right;
        margin-right: 6px;
        margin-top: -27px;
        position: relative;
        z-index: 2;
    font-weight: bold;
    }

.cont{
 float:left;   
    padding: 21px;
}
span.btnjion{
    float:right;
        margin: 3%;
}
div.content{
    background-image: url("../img/banner.png") ;
    background-repeat: repeat;    
    color: $white;    
    width: 100%;
    margin:0 auto;
}

div.imgcontainer{
    background-image: url("../img/cta-bg.png") ;
    background-repeat: cover;
    height: 21%;
    width: 99%;
    margin:0 auto;
    color: $white; 
    align-content: center;
    display: inline-block;
    
  
}
div.wrap{ 
  padding: 9%;  
  width: 30%;}

h1{
    font-size: $BigFont;
}

h4{
    color:$pgray;
}

a.rm{
    color:$red;
    font-size: $FontMedium;
    font-weight: bold;
    text-decoration:none;
}
button.red {
    @include border-radius(4px); 
    background: $red;
    color:$white;
    width: 120px;   
    height: 40px;
    line-height: 1.5; 
        margin: 3%;
}
button.whitebutton{
    @include border-radius(4px); 
    background: $white;
    color:$red;
    width: 120px;   
    height: 40px;
    line-height: 1.5; 
    font-weight: bold;
}
button.btnL{
    width: 210px;  
    height: 60px;
}
section.articles{
    display: flex;  
    margin-top: -2px;
    margin-bottom: 30px;
}
article{ 
   display: inline-block;
   width: 32%;
   margin:0 auto;
   color:$black;
   background: #f8f8f8;   
       
}
section.articles > article{
      box-shadow: 0px 0.5em 14px 0px #c1c1c1;
}

div.textsp{
    padding: 23px;
    text-align: justify;  
}
article p{  
    color: $pgray;
}

section.training{
    padding: 1px 0px 3px 0px;
}


span.vertical-line{
    width: 3px;
    background: $red;
    position: absolute;
    color:$red;   
    margin-right: 5px;
}
span.textVerticalLine{
     margin-right: 1px;
}

img.art {
    width: 100%;    
    height: 48%;
}

section.secfooter{
    background: $black;
    margin-top: 37px;
    width: 100%;    
}
section.secfooter ul{
        display: grid
}
div.subti{
    width: 100%;
    margin-left: 1%;
}

div.links{
     display: flex;
    display: block;
    color:$white;
    text-align: center;
        padding: 4%;
     background: #0a0a0a;
}

article.footart{
    display: inline-block;
    width: 23%; 
    color:white;  
    background: #0a0a0a;
    height: 253px;    
    text-align: initial;
}
h3{
    font-weight: bold;
}
div.footercontat{
    padding-left: 44px;
}
input{
    height: 30px;
   width:100%;
}
footer{
    display: list-item;
    color:$white;
    background: $black;
    text-align: center;
    height: 30%;   
    padding: 15px;
    margin:0 auto;
}