body {
  background: #eaeaea;
  font-family: 'Open Sans';
  margin: 0; }

main {
  margin: 20px; }

.mobileicon {
  display: none; }

div.inline {
  display: inline; }

header {
  display: flex; }

div.logo {
  float: left; }

img.imglogo {
  margin-left: 39px; }

nav {
  float: right;
  margin: 0 auto; }

nav {
  overflow: hidden; }

ul {
  padding-bottom: 10px;
  list-style-type: none;
  text-align: justify; }

.mobile {
  display: none; }

#idsearch {
  padding-top: 16px; }

li {
  float: left; }

ul.navi li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }

ul.navi li a.first {
  color: #f81e28; }

.cont {
  float: left;
  padding: 21px; }

span.btnjion {
  float: right;
  margin: 3%; }

div.content {
  background-image: url("../img/banner.png");
  background-repeat: repeat;
  color: #ffffff;
  width: 100%;
  margin: 0 auto; }

div.imgcontainer {
  background-image: url("../img/cta-bg.png");
  background-repeat: cover;
  height: 21%;
  width: 99%;
  margin: 0 auto;
  color: #ffffff;
  align-content: center;
  display: inline-block; }

div.wrap {
  padding: 9%;
  width: 30%; }

h1 {
  font-size: 40px; }

h4 {
  color: #a8a5a5; }

a.rm {
  color: #f81e28;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none; }

button.red {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background: #f81e28;
  color: #ffffff;
  width: 120px;
  height: 40px;
  line-height: 1.5;
  margin: 3%; }

button.whitebutton {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background: #ffffff;
  color: #f81e28;
  width: 120px;
  height: 40px;
  line-height: 1.5;
  font-weight: bold; }

button.btnL {
  width: 210px;
  height: 60px; }

section.articles {
  display: flex;
  margin-top: -2px;
  margin-bottom: 59px; }

article {
  display: inline-block;
  width: 32%;
  margin: 0 auto;
  color: #000000;
  background: #f8f8f8; }

section.articles > article {
  box-shadow: 0px 0.5em 14px 0px #c1c1c1; }

div.textsp {
  padding: 23px;
  text-align: justify; }

article p {
  color: #a8a5a5; }

section.training {
  padding: 1px 0px 3px 0px; }

span.vertical-line {
  width: 3px;
  background: #f81e28;
  position: absolute;
  color: #f81e28;
  margin-right: 5px; }

span.textVerticalLine {
  margin-right: 1px; }

img.art {
  width: 100%;
  height: 48%; }

section.secfooter {
  background: #0a0a0a;
  margin-top: 37px;
  width: 100%; }

section.secfooter ul {
  display: grid; }

div.subti {
  width: 80%;
  margin-left: 1%; }

div.links {
  display: inline-flex;
  color: #ffffff;
  text-align: center;
  padding: 4%;
  background: #0a0a0a; }

article.footart {
  display: inline-block;
  width: 23%;
  color: white;
  background: #0a0a0a;
  height: 253px;
  text-align: initial; }

h3 {
  font-weight: bold; }

div.footercontat {
  padding-left: 44px; }

input {
  height: 30px;
  width: 100%; }

footer {
  display: list-item;
  color: #ffffff;
  background: #000000;
  text-align: center;
  height: 30%;
  padding: 15px;
  margin: 0 auto; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none; }

.modalContainer {
  width: 29%;
  background: #F4F3F6;
  margin: auto;
  margin-top: 14px; }

.modalHeading {
  padding: 9px;
  background: #f81e28;
  color: #FFFFFF;
  display: list-item; }

.modalContent {
  min-height: 333px;
  padding: 44px; }

button#close {
  background: #000000 !important;
  padding: 3px 9px;
  border: 1px;
  color: #FFFFFF;
  float: right;
  width: 50px;
  height: 20px; }

/*# sourceMappingURL=style.css.map */
